/******************************************************************
Site Name: Katrina Stahr
Author: Red Cart Studios

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
	width:900px;
	padding:2em;
	margin: 0 auto;
	position:relative;
}
.squeeze {
	width:600px;
}

#logo {
	margin: 12px 0 0 24px;
	// max-height: 100px;
}
.logo {
	max-height:100px;
}
nav {
	height:124px;
}
.nav {
	margin-right:48px;
	li {
		line-height:96px;
		a {
			font-size:1.2em;
			padding:14px 12px;
		}
	}
}
.header-image {
	margin-top:100px;
	height: 775px;
	p {
		font-size:2em;
		left:50px;
		bottom:50px;
	}
}
.entry-content {
	p {
      font-size: 1.2em;
    }
}
.hero {
	width:824px;
	margin:-90px 0 0 -412px;
}